<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RESERVAR AULA</title>
</head>
<body>
  <h1>RESERVAR AULA</h1>
  <form action="#" th:action="@{/submit}" th:object="${ReservaAulaId}" method="post">
    <p><label for="profesor">Edad de usuario:</label></p>
    <p><input type="number" th:field="*{edad}" id="edad" /></p>
    <p><label for="name">Edad de usuario:</label></p>
    <p><input type="number" th:field="*{edad}" id="edad" /></p>
    <p><label for="name">Edad de usuario:</label></p>
    <p><input type="number" th:field="*{edad}" id="edad" /></p>
    <br />
    <input type="submit" value="Enviar" />
  </form>


  <input type="button" value="RESERVAR" />

</body>
</html>